html {
  margin: 0;
}

body {
  background-color: rgb(181, 217, 248);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100vw;
  height: 60px;
  background-color: rgb(58, 155, 240);
}

h1 {
  margin: 0;
  padding: 10px 20px;
  color: whitesmoke;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainCard {
  background-color: whitesmoke;
  border-radius: 8px;
  width: 20rem;
  margin-top: 25px;
}

.secondCard {
  margin: 25px;
}

h2 {
  font-size: 16px;
}

button {
  background-color: rgb(58, 155, 240);
  border: none;
  border-radius: 8px;
  padding: 15px;
  color: whitesmoke;
}

.qclassFielset{
  display: flex;
  flex-wrap: wrap;
}

.qContenedor{
  margin-bottom: 15px;
}

input[type="radio"]{
  display: none;
  margin: 0;
  padding: 0;
}

.qclassFielset label{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

label{
  padding-top:16px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 5px;
  color: whitesmoke;
}

.qop1{
  background-color: crimson;
}
.qop2{
  background-color:tan;
}
.qop3{
  background-color:mediumseagreen;
}
.qop4{
  background-color:lightskyblue;
}



.qBoton{
  display: flex;
  justify-content: flex-end;
}